@CHARSET "UTF-8";
div.__01 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1368px;
    height: 1279px;
}

div.active {
    position:absolute;
    left:0px;
    top:0px;
    width:245px;
    height:58px;
}

div.active002 {
    position:absolute;
    left:245px;
    top:0px;
    width:1123px;
    height:90px;
}

.active002-1{
    border:1px solid #000000;
    background-color:#99cccc;
    width:120px;
    height:23px;
    line-height:23px;
    font-size:15px;
    margin-left:35px;
    margin-top:20px;
    padding-left:10px;
}
.active002-2{
    border:1px solid #000000;
    background-color:#99CCFF;
    width:1083px;
    height:30px;
    line-height:30px;
    font-size:15px;
    margin-left:35px;
    margin-top:10px;
    padding-top:2px;
    padding-left:10px;
}
div.active003 {
    position:absolute;
    left:0px;
    top:58px;
    width:245px;
    height:88px;
}

div.active004 {
    position:absolute;
    left:245px;
    top:90px;
    width:37px;
    height:1189px;
}

div.active005 {
    position:absolute;
    left:42px;
    top:90px;
    width:18px;
    height:19px;
}

div.active006 {
    position:absolute;
    left:60px;
    top:90px;
    width:77px;
    height:27px;
}

div.active007 {
    position:absolute;
    left:147px;
    top:90px;
    width:17px;
    height:19px;
}

div.active008 {
    position:absolute;
    left:164px;
    top:90px;
    width:974px;
    height:27px;
}

div.active009 {
    position:absolute;
    left:42px;
    top:109px;
    width:18px;
    height:8px;
}

div.active010 {
    position:absolute;
    left:137px;
    top:109px;
    width:17px;
    height:8px;
}

div.active011 {
    position: absolute;
    left: 48px;
    top: 115px;
    width: 425px;
    height: 178px;
}

div.active012 {
    position:absolute;
    left:444px;
    top:117px;
    width:684px;
    height:244px;
}

div.active013 {
    position:absolute;
    left:0px;
    top:146px;
    width:245px;
    height:1133px;
}

div.active014 {
    position:absolute;
    left:30px;
    top:295px;
    width:1083px;
    height:30px;
    line-height:30px;
    font-size:15px;
    border:1px solid black;
    background-color:#99CCFF;
    margin-top:16px;
    padding-left:10px
}

div.active015 {
    position:absolute;
    left:142px;
    top:361px;
    width:102px;
    height:5px;
}

div.active016 {
    position: absolute;
    left: 244px;
    top: 360px;
    width: 150px;
    height: 25px;
}

div.active017 {
    position:absolute;
    left:394px;
    top:361px;
    width:31px;
    height:141px;
}

div.active018 {
    position: absolute;
    left: 424px;
    top: 360px;
    width: 159px;
    height: 25px;
}

div.active019 {
    position:absolute;
    left:584px;
    top:361px;
    width:644px;
    height:432px;
}

div.active020 {
    position:absolute;
    left:142px;
    top:366px;
    width:18px;
    height:15px;
}

div.active021 {
    position:absolute;
    left:10px;
    top:366px;
    width:184px;
    height:60px;
}

div.active022 {
    position:absolute;
    left:142px;
    top:381px;
    width:18px;
    height:17px;
}

div.active023 {
    position:absolute;
    left:244px;
    top:386px;
    width:150px;
    height:7px;
}

div.active024 {
    position:absolute;
    left:425px;
    top:386px;
    width:159px;
    height:7px;
}

div.active025 {
    position: absolute;
    left: 244px;
    top: 393px;
    width: 150px;
    height: 26px;
}

div.active026 {
    position: absolute;
    left: 424px;
    top: 393px;
    width: 159px;
    height: 26px;
}
div.active054 {
    position: absolute;
    left: 624px;
    top: 360px;
    width: 250px;
    height: 26px;
}

div.active055 {
    position: absolute;
    left: 854px;
    top: 360px;
    width: 250px;
    height: 26px;
}
div.active056 {
    position: absolute;
    left: 624px;
    top: 393px;
    width: 280px;
    height: 26px;
}
div.active057 {
    position: absolute;
    left: 854px;
    top: 393px;
    width: 250px;
    height: 26px;
}

div.active027 {
    position:absolute;
    left:30px;
    top:393px;
    width:18px;
    height:15px;
}

div.active028 {
    position:absolute;
    left:42px;
    top:413px;
    width:18px;
    height:412px;
}

div.active029 {
/*    position:absolute;
    left:144px;
    top:419px;
    width:150px;
    height:83px;*/
    position:absolute;
    left:30px;
    top:419px;
    width:1083px;
    height:30px;
    line-height:30px;
    font-size:15px;
    border:1px solid black;
    background-color:#99CCFF;
    margin-top:16px;
    padding-left:10px
}

div.active030 {
    position:absolute;
    left:325px;
    top:419px;
    width:159px;
    height:83px;
}

div.active031 {
    position:absolute;
    left:40px;
    top:502px;
    width:100px;
    height:200px;
}

div.active032 {
    position:absolute;
    left:150px;
    top:502px;
    width:350px;
    height:24px;
}

div.active033 {
    position:absolute;
    left:470px;
    top:502px;
    width:14px;
    height:323px;
}

div.active034 {
    position:absolute;
    left:150px;
    top:526px;
    width:350px;
    height:21px;
}

div.active035 {
    position: absolute;
    left: 150px;
    top: 545px;
    width: 350px;
    height: 179px;
}

div.active036 {
 /*   position:absolute;
    left:120px;
    top:726px;
    width:350px;
    height:99px;*/
    
    position:absolute;
    left:30px;
    top:726px;
    width:1083px;
    height:30px;
    line-height:30px;
    font-size:15px;
    border:1px solid black;
    background-color:#99CCFF;
    margin-top:16px;
    padding-left:10px
}

div.active036-1 {
    position:absolute;
    left:30px;
    top:780px;
    width:200px;
    height:30px;
    line-height:30px;
    font-size:17px;
    margin-top:5px;
    padding-left:5px
}

div.active037 {
    position:absolute;
    left:350px;
    top:793px;
    width:210px;
    height:32px;
}

div.active038 {
    position:absolute;
    left:560px;
    top:793px;
    width:71px;
    height:24px;
}

div.active039 {
    position:absolute;
    left:592px;
    top:793px;
    width:536px;
    height:32px;
}

div.active040 {
    position:absolute;
    left:521px;
    top:817px;
    width:71px;
    height:8px;
}

div.active041 {
    position: absolute;
    left: 48px;
    top: 823px;
    width: 800px;
    height: 368px;
}

div.active042 {
    position:absolute;
    left:294px;
    top:825px;
    width:59px;
    height:454px;
}

div.active043 {
    position: absolute;
    left: 350px;
    top: 823px;
    width: 260px;
    height: 368px;
}

div.active044 {
    position:absolute;
    left:592px;
    top:825px;
    width:64px;
    height:454px;
}

div.active045 {
    position: absolute;
    left: 656px;
    top: 823px;
    width: 280px;
    height: 368px;
}

div.active046 {
    position:absolute;
    left:1137px;
    top:825px;
    width:231px;
    height:454px;
}

div.active047 {
    position:absolute;
    left:657px;
    top:1193px;
    width:252px;
    height:16px;
}

div.active048 {
    position: absolute;
    left: 354px;
    top: 1198px;
    width: 239px;
    height: 86px;
}

div.active049 {
    position:absolute;
    left:656px;
    top:1193px;
    width:241px;
    height:86px;
}

div.active050 {
    position:absolute;
    left:42px;
    top:1209px;
    width:8px;
    height:70px;
}

div.active051 {
    position:absolute;
    left:50px;
    top:1225px;
    width:117px;
    height:40px;
}

div.active052 {
    position:absolute;
    left:167px;
    top:1209px;
    width:127px;
    height:70px;
}

div.active053 {
    position:absolute;
    left:50px;
    top:1249px;
    width:117px;
    height:30px;
}
